requests==2.18.4
cheroot==5.8.3
CherryPy==11.0.0
click==6.7
celery==4.1.1
eventlet==0.22.1
Django==1.11.29
django-cors-headers==2.1.0
django-extensions==1.9.6
django-filter==1.0.4
djangorestframework==3.7.1
WeasyPrint==0.42.3
freeze==1.0.10
olefile==0.44
Pillow==4.3.0
portend==2.2
psycopg2==2.7.3.1
python-dotenv==0.7.1
pytz==2017.2
six==1.11.0
tempora==1.9
djangorestframework-jwt==1.11.0
openpyxl==2.6.2
urllib3==1.22
webencodings==0.5.1
tinycss2==0.6.1
amqp==2.2.2
channels==1.1.6
asgi-rabbitmq==0.5.5
#Lib to help on test data preparation for Django
model-mommy==1.6.0
coverage==4.5.1
gunicorn==19.8.1
